{% extends 'login_base.html' %}
{% block content %}
    <form method="post" action="{% url 'user:login' %}">

        <table border="0" style="width:560px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
            <tr height="50" valign="top">
                <td width="55">&nbsp;</td>
                <td>
                    <span class="fl" style="font-size:24px;">登录</span>
                    <span class="fr">还没有商城账号，<a href="{% url 'user:register' %}" style="color:#ff4e00;">立即注册</a></span>
                </td>
            </tr>
            <tr height="70">
                <td>用户名</td>
                <td><input type="text" value="{{ username }}" class="l_user" name="username"  placeholder="用户名/邮箱/手机号"/></td>
                <td><span style="color: red">{{ form.username.errors }}</span></td>
            </tr>
            <tr height="70">
                <td>密&nbsp; &nbsp; 码</td>
                <td><input type="password" value="" class="l_pwd" name="password" placeholder="输入密码"/></td>
                <td><span style="color: red">{{ form.password.errors }}{{ msg }}</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="font-size:12px; padding-top:20px;">
                	<span style="font-family:'宋体';" class="fl">
                    	<label class="r_rad"><input type="checkbox" name="remember" {{ checked }}/></label><label class="r_txt">请保存我这次的登录信息</label>
                    </span>
                    <span class="fr"><a href="#" style="color:#ff4e00;">忘记密码</a></span>
                </td>
            </tr>
            <tr height="60">
                <td>&nbsp;</td>
                <td><input type="submit" value="登录" class="log_btn"/></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
{% endblock %}