{% extends 'member_base.html' %}
{% block right_content %}
		<div class="m_right">
            <p></p>			
            <div class="mem_tit">
            	<span class="fr" style="font-size:12px; color:#55555; font-family:'宋体'; margin-top:5px;">共发现0件</span>会员余额
            </div>
			<table border="0" class="ma_tab" style="width:930px; text-align:center; margin-bottom:30px;" cellspacing="0" cellpadding="0">
              <tr>
              	<td class="ma_a" colspan="7" align="right"><a href="Member_Money_Charge.html">充值</a>|<a href="#">提现</a>|<a href="#">查看账户明细</a>|<a href="#">查看申请记录</a></td>
              </tr>
              <tr>                                                                                                                                                    
                <td width="155">操作时间</td>                                                                                                                                         
                <td width="110">类型</td>
                <td width="110">金额</td>
                <td width="130">会员备注</td>
                <td width="155">管理员备注</td>
                <td width="130">状态</td>
                <td width="140">操作</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="7" align="right">您当前的可用资金为：￥0.00</td>
              </tr>
			</table>
			


            
        </div>
    </div>
	<!--End 用户中心 End--> 
{% endblock %}