{% extends 'login_base.html' %}
    {% block content %}
    <form method="post" action="{% url 'user:register' %}">
    {% csrf_token %}
        <table border="0" style="width:573px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
            <tr height="50" valign="top">
                <td width="95">&nbsp;</td>
                <td>
                    <span class="fl" style="font-size:24px;">注册</span>
                    <span class="fr">已有商城账号，<a href="{% url 'user:login' %}" style="color:#ff4e00;">我要登录</a></span>
                </td>
            </tr>
{#            {% for field in form %}#}
{#            <tr height="50">#}
{#                <td align="right"><font color="#ff4e00">*</font>&nbsp;{{ field.label_tag }} &nbsp;</td>#}
{##}
{#                <td>{{ field }}</td>#}
{#
{#            {% endfor %}#}
{##}
{#            </tr>#}
            <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;用户名 &nbsp;</td>
                <td><input type="text" value="" class="l_user" name="username" placeholder="输入用户名" />
                </td>
                <td><span style="color: red">{{ form.username.errors }}</span></td>

            </tr>

            <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;密码 &nbsp;</td>
                <td><input type="password" value="" class="l_pwd" name="password1" placeholder="请输入至少6位密码" />
                </td>
                <td><span style="color: red">{{ form.password1.errors }}</span></td>
            </tr>
            <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;确认密码 &nbsp;</td>
                <td><input type="password" value="" class="l_pwd" name="password2" placeholder="请输入至少6位密码" />
                </td>
                <td><span style="color: red">{{ form.password2.errors }}</span></td>
            </tr>
            <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;邮箱 &nbsp;</td>
                <td><input type="text" value="" class="l_email" name="email" placeholder="请输入邮箱地址" />
                </td>
                <td><span style="color: red">{{ form.email.errors }}</span></td>
            </tr>
            <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;手机 &nbsp;</td>
                <td><input type="text" value="" class="l_tel" name="mobile" placeholder="请输入手机号码"/>
                </td>
                <td><span style="color: red">{{ form.mobile.errors }}</span></td>
            </tr>
{#            <tr height="50">#}
{#                <td align="right">邀请人会员名 &nbsp;</td>#}
{#                <td><input type="text" value="" class="l_mem" name="vip_name" placeholder="无邀请人可不填" /></td>#}
{#            </tr>#}
{#            <tr height="50">#}
{#                <td align="right">邀请人ID号 &nbsp;</td>#}
{#                <td><input type="text" value="" class="l_num" name="invitation_id"/></td>#}
{#            </tr>#}
            <tr height="50">
                <td align="right"><font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
                <td>
                    <input type="text" value="" class="l_ipt" name="code"/>
                    <a href="#" style="font-size:12px; font-family:'宋体';">换一张</a>

                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="font-size:12px; padding-top:20px;">
                    <span style="font-family:'宋体';" class="fl">
                        <label class="r_rad"><input type="checkbox" name="allow"/></label><label class="r_txt">我已阅读并接受《用户协议》</label>
                    </span>
                </td>
            </tr>
            <tr height="60">
                <td>&nbsp;</td>
                <td><input type="submit" value="立即注册" class="log_btn"/></td>
                {% for field in from %}
                    {{ field.errors }}
                {% endfor %}
            </tr>
        </table>
    </form>







{% endblock %}